<!--<div class="horizontal-scroll">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th>Id</th>
      <th class="align-right">Name</th>
      <th class="align-right">Logo</th>
      <th class="align-right">Slug</th>
      <th class="align-right">Max Loan Duration</th>
      <th class="align-right">Main Color</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of bankItems" class="no-top-border">
      <td ngClass="nowrap">{{item.id}}</td>
      <td class="align-right">{{item.name}}</td>
      <td class="align-right">{{item.logo}}</td>
      <td class="align-right">{{item.slug}}</td>
      <td class="align-right">{{item.max_loan_duration}}</td>
      <td class="align-right">{{item.main_color}}</td>
    </tr>
    </tbody>
  </table>
</div>-->

<router-outlet></router-outlet>